<!DOCTYPE html>
	<html lang='pt-BR'>
	<head>
		<!-- Import Google Icon Font -->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">		
		<meta charset='UTF-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
		<link rel="icon" href="/assets/images/ret.ico" type="image/ico" />
		<link rel="stylesheet" type="text/css" href="/build/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
        
	</head>
	<body>
		<div id="app" app-container />
		<script type='text/javascript' src='/build/app.bundle.js'></script>
	</body>
</html>