<!DOCTYPE html>
	<html lang='pt-BR'>
	<head>
		<!-- Import Google Icon Font -->
		<meta charset='UTF-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>SVG</title>
        
    <script type="text/javascript" src="/node_modules/paper/dist/paper-full.min.js"></script>
    <script type="text/paperscript" src="/draws/<%= draw %>.js" canvas="canvas"></script>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function(event) { 
        document.getElementById("download-to-svg").onclick = function(){
          var fileName = draw + ".svg"
          var url = "data:image/svg+xml;utf8," + encodeURIComponent(paper.project.exportSVG({asString:true}));
          var link = document.createElement("a");
          link.download = fileName;
          link.href = url;
          link.click();
        }
      });
      </script>

      <style>
        body {
          background-color: #eee;
        }
        button {
          position: fixed;
          right: 25px;
          bottom: 25px;
        }
        canvas {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      </style>
	</head>
	<body style="margin: 20px">
    <canvas height="<%= dimen.height %>" width="<%= dimen.width %>" id="canvas" resize></canvas>
    <button id="download-to-svg">DOWNLOAD</button>
	</body>
</html>