.bottom-control
  color black
  position fixed
  padding-bottom 15px
  // width 200px
  left 100px
  right 0
  bottom 10px
  text-align center

  .center
    display inline-block

    img
      height 30px
      width 30px
      margin 0 5px
      cursor pointer

  .right
    display inline-block
    font-size 15px
    float right
    color #3e3e3e
    height 50px
    margin-right 20px