.canvas-viewport
    position relative
    display inline-block
    width calc(100% - 180px)
    height calc(100% - 60px)
    background-color #f6f6f6
    
    .drawing-area
        position absolute
        left 20px
        top 20px
        width 1000px
        height 1000px
        border 1px solid #d6d6d6
        background-color white
        box-sizing content-box