.gate
  position relative
  box-sizing content-box

  .coords
    color black

  .terminal
    visibility hidden
    position absolute
    border 3px solid #3f3f3f
    border-radius 50%
    width 0
    height 0

    &.-connected
      visibility visible

    &.-power
      border-color green

  img 
    height 100%
    width 100%

  &.-canvas:hover
    .terminal
      visibility visible

      &:hover
        border-color #3f3f3f
        &.-power
          border-color green

  &.-selected
    border 1px solid rgba(50, 50, 200, .5)