.gate
  position relative
  box-sizing content-box

  .coords
    color black

  .terminal-container
    position absolute
    .terminal
      visibility hidden
      box-sizing content-box
      position absolute
      border 3px solid #3f3f3f
      border-radius 50%
      width 0
      height 0

      &.-connected
        visibility visible

      &.-power
        border-color green

  img 
    height 100%
    width 100%

  &.-canvas:hover
    .terminal
      visibility visible

      &:hover
        border-color #3f3f3f
        &.-power
          border-color green
  .selection
    position absolute
    top 0
    left 0