$black = #292828
$gray = #B5B5BB
$dark-gray = #434343
$light-gray = #EAEAEA
$background-grey = #232323
$card-grey = #2F2F2F
$hover-grey = #373737
$title-grey = #5A5A5A
$label-grey = #808080
$border-grey = rgba(0, 0, 0, .2)

$error-red = #C60015
$warn-yellow = #FFBA3C
$ok-green = #8ACB48
$line-blue = #2000d5


$font-grey = #5F5F5F
$font-white = #F0F0F0
$font-black = #272727


//ACTIONS COLORS
$hover-red = #E35A55
$error-color = #E35A55