*
  box-sizing border-box

html, body, header, main, nav, footer, article, blockquote, 
div, section, span, iframe, img, video, figure, a, p, h1, h2,
h3, h4, h5, h6, strong, b, i, ul, ol, li, form, fieldset,
label, input, input:focus, select, select:focus, textarea, textarea:focus, table, button, thead, tbody, tfoot,
th, td, tr, aside, caption, sup, sub, q, small
	padding 0
	margin 0
	border 0
	text-decoration none
	color $font-black
	font-family $main-font-family, "arial", "sans-serif"
	font-weight 100 
	letter-spacing .4px
	outline none

input
input:focus
	color $font-black
a
	text-decoration none

input:focus
select:focus
textarea:focus
button:focus
	shadow-box none
	
html, body
	font-size 13px

body
	line-height 1
	background-color $lighter-gray

ol
ul
	list-style none

blockquote
	quotes none

blockquote:after
blockquote:before
	content ""
	content none

table
	border-collapse collapse
	border-spacing 0